

<main class="main">
    <div class="content">
        <div>
            <h1>{{ title }}</h1>
        </div>
        <div class="divider" role="separator" aria-label="Divider"></div>
        <input type="file" (change)="onFileSelected($event)" class="custom-input" />
        <div class="image-container">
            @if(previewUrl){ <img [src]="previewUrl" alt="Preview of selected image">}
            @if(errorMessage){ <div class="error-message">{{ errorMessage }}</div>}
        </div>
        <button class="extract-btn" (click)="extractText()">Extract text</button>
        <textarea [value]="extractedText" class="extracted-text" readonly></textarea>
        <button class="copy-text" (click)="copyText()">Copy text</button>
    </div>
</main>

<router-outlet />