:host {
        --bright-blue: oklch(51.01% 0.274 263.83);
        --light-blue: oklch(47.466% 0.07931 268.181);
        --electric-violet: oklch(53.18% 0.28 296.97);
        --french-violet: oklch(47.66% 0.246 305.88);
        --vivid-pink: oklch(69.02% 0.277 332.77);
        --nice-pink: oklch(72.955% 0.19366 331.262);
        --hot-red: oklch(61.42% 0.238 15.34);
        --orange-red: oklch(63.32% 0.24 31.68);

        --gray-900: oklch(19.37% 0.006 300.98);
        --gray-700: oklch(36.98% 0.014 302.71);
        --gray-400: oklch(70.9% 0.015 304.04);
        --gray-200: oklch(100% 0.00011 271.152);

        --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
                var(--orange-red) 0%,
                var(--vivid-pink) 50%,
                var(--electric-violet) 100%);

        --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
                var(--orange-red) 0%,
                var(--vivid-pink) 50%,
                var(--electric-violet) 100%);

        --pill-accent: var(--bright-blue);

        font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol";
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1 {
        font-size: 2.5rem;
        color: var(--gray-900);
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.125rem;
        font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol";
    }

    p {
        margin: 0;
        color: var(--gray-700);
    }

    main {
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: inherit;
        position: relative;
    }


    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        max-width: 700px;
        margin-bottom: 3rem;
    }

    .content h1 {
        display: flex;
        justify-content: space-around;
        margin-top: 1.75rem;
    }

    .content p {
        margin-top: 1.5rem;
    }

    .divider {
        width: 100%;
        height: 1px;
        background: var(--red-to-pink-to-purple-vertical-gradient);
    }

    .custom-input {
        margin-top: 20px;
    }

    .image-container {
        width: 700px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        background-color: var(--gray-200);
        border-color: var(--nice-pink);
        border-radius: 8px;
        overflow: hidden;
    }

    .image-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .error-message {
        color: var(--orange-red);
    }

    .extract-btn {
        margin-top: 6px;
        padding: 10px 20px;
        background-color: var(--nice-pink);
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .extract-btn:hover {
        background-color: var(--light-blue);
    }

    .extracted-text {
        margin: 6px 0;
        height: 80px;
        border-radius: 8px;
        border: none;
        background-color: var(--gray-200);
    }

    .copy-text {
        padding: 10px 20px;
        background-color: var(--nice-pink);
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .copy-text:hover {
        background-color: var(--light-blue);
    }

    @media screen and (max-width: 650px) {
        .content {
            flex-direction: column;
            width: max-content;
        }

    }